.skills{
    width: 100%;
    background-color: var(--bg-primary);
    padding: 8rem 0;
}

.skills .item_container{
    display: grid; 
    grid-template-columns: repeat(auto-fit,minmax(20rem,1fr));
    gap: 2rem; 
}

.skills .item{
    text-align: center;
    padding: 2rem;
    box-shadow: var(--primary-shadow);
    transition: .6 ease;
}

.skills .item:hover{
    transform: scale(1.1)
}

.skills .item img{
    width: clamp(8rem,5vw,12rem);
    margin-bottom: 2rem;
}

.skills .item h4{
    font-size: 2rem;
    color: #fff;
    text-transform:capitalize;
}

@media (max-width:991px) {
    .skills{
        text-align: center;
    }
}