.intro{
    width: 100%;
    height: 100vh;
    background-color: var(--bg-primary);
}

.intro .container{
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.intro p:first-child{
  color: var(--color-pink);
  font-size: 1.8rem;
}

.intro .intro_text{
    max-width: 68rem;
    padding: 1.5rem 0 3rem 0;
}

@media (max-width:991px){
    .intro{
        text-align: center;
    }
    .intro .container{
        align-items: center;
    }
    .intro .social{
        display: none;
    }
}