@import url("https://fonts.googleapis.com/css2?family=Raleway:wght@300;400;500;600;700;800;900&display=swap");

:root {
  --bg-primary: #0a192f;
  --text-color: #8892b0;
  --color-pink: #db2777;
  --color-white: #fff;
  --bg-blue: #2563eb;
  --bg-dark: #333333;
  --bg-green: #6fc2b0;
  --bg-gray: #565f69;
  --primary-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  outline: none;
  transition: 0.3s ease;
}

html {
  font-size: 62.5%;
}

body {
  overflow-x: hidden;
  font-family: "Raleway", sans-serif;
}

.container {
  width: 100%;
  max-width: 1000px;
  margin: 0 auto;
  padding: 0 2rem;
}

.flex {
  display: flex;
  align-items: center;
}

.title {
  margin-bottom: 2rem;
}

.title.center {
  text-align: center;
}

.title h2 {
  display: inline-block;
  border-bottom: 4px solid var(--color-pink);
  color: var(--color-white);
  margin-bottom: 1rem;
}

img {
  width: 100%;
}

li {
  list-style: none;
  cursor: pointer;
}

a {
  text-decoration: none;
  color: #8892b0;
  font-size: 1.8rem;
  font-weight: 500;
}

a:hover {
  color: var(--color-pink);
}

h1 {
  font-size: 6rem;
  color: #ccd6f6;
  font-weight: 600;
  font-size: clamp(2.6rem, 5vw, 6rem);
}

h2 {
  font-size: clamp(2.4rem, 4vw, 3.8rem);
  color: var(--text-color);
}

p {
  color: var(--text-color);
  font-size: 1.7rem;
  line-height: 2.8rem;
}

.btn {
  display: flex;
  align-items: center;
  border: 1px solid var(--color-white);
  color: var(--color-white);
  padding: 1.4rem 3rem;
  background-color: transparent;
  cursor: pointer;
  font-size: 1.8rem;
  letter-spacing: 0.2rem;
  position: relative;
  z-index: 1;
}

.btn .icon {
  margin-left: 0.5rem;
}

.btn::after {
  content: "";
  position: absolute;
  width: 0;
  height: 100%;
  right: 0;
  background-color: var(--color-pink);
  z-index: -1;
}

.btn:hover {
  border-color: transparent;
}

.btn:hover::after {
  width: 100%;
  left: 0;
}

.btn:hover .icon {
  transform: translateX(0.4rem);
}

@media (max-width: 991px) {
  html {
    font-size: 55%;
  }
}
