.work {
  width: 100%;
  min-height: 100vh;
  background-color: var(--bg-primary);
  padding: 8rem 0;
}

.work .card_container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(28rem, 1fr));
  gap: 2rem;
}

.work .card {
  position: relative;
  overflow: hidden;
  background-size: cover;
  background-repeat: no-repeat;
  height: 280px;
  border-radius: 0.5rem;
  box-shadow: var(--primary-shadow);
}

.work .card .overlay {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  position: absolute;
  top: -100%;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: linear-gradient(
    to right,
    rgba(112, 157, 255, 0.9),
    hsla(242, 74%, 61%, 0.9)
  );
}

.work .card:hover .overlay {
  top: 0;
}

.work .card .overlay p {
  color: var(--color-white);
  font-size: 2.2rem;
  font-weight: 500;
  margin-bottom: 2rem;
}

.work .card .overlay a {
  display: inline-block;
  color: var(--bg-primary);
  background-color: var(--color-white);
  border-radius: 0.4rem;
  padding: 1.2rem 2rem;
  margin: 0 1rem;
  font-weight: 500;
}

.work .card .overlay a:hover{
   opacity: .7;
}


@media (max-width:991px) {
  .work{
      text-align: center;
  }
}